*, ::after, ::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 100%, 100%);
}

body
{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(220, 10%, 5%);
  font-family: Arial, Helvetica, sans-serif;
}

form
{
  width: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(0, 10%, 100%, 10%);
  box-shadow: .2rem .2rem .2rem hsl(180, 100%, 30%, 100%);
  border-radius: 0 2rem;
}

form > *
{
  margin-bottom: 1rem;
}

header
{
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
  color: hsl(180, 100%, 45%);
  text-shadow: .1rem .1rem hsl(180, 100%, 15%);
}

.writable-content
{
  width: 100%;
  padding: .2rem 1rem;
  background-color: hsl(0, 10%, 100%, 5%);
  opacity: 100%;
  font-size: 1.2rem;
  border: .15rem solid hsl(180, 100%, 30%);
  box-shadow: .3rem .3rem .3rem hsl(220, 10%, 5%);
  border-radius: .8rem;
}

.writable-content:hover,
.submit-button:hover
{
  cursor: pointer;
  border-color: hsl(180, 100%, 50%);
}

.writable-content:focus, a:focus
{
  background-color: hsl(180, 10%, 10%);
  border-radius: .8rem;
}

.submit-button
{
  padding: .4rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: hsl(180, 10%, 10%);
  border-radius: .8rem;
  border: .15rem solid hsl(180, 100%, 30%);
  box-shadow: .3rem .3rem hsl(220, 10%, 10%);
}

a
{
  padding: .2rem .3rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: .3rem .3rem hsl(220, 10%, 10%);
}

a:hover
{
  color: hsl(180, 100%, 45%);
}

.hidden
{
  display: none;
}